<%- include('./partials/navbar.ejs') %>
    <div class="bg-[#FFFFFF] min-h-screen">
        <div class="pt-20">
            <div class="text-3xl text-black grid place-items-center">
                Hey this is the homepage of the Blog Application, Welcome :
            </div>
            <div class="flex items-center justify-center text-5xl text-yellow-500 uppercase font-bold">
                <%= name %>
            </div>
        </div>
    </div>

</body>

</html>